

h1{

  border-style: outset;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: whitesmoke;
}
form{
 
  border-style: outset;
  text-align: center;
  background-color: whitesmoke; 
}
td{
  font-size: 15px;
  text-align: center;
  color: black;
}
#save{
  text-align: center;
  color: red;
  background-color: transparent;
  border-style: none;
}
#save:hover{
  background-color:grey
}
#name{
}
#list{
}
ul{
  border-style: outset;
  color: black;
  background-color: whitesmoke;
}
.delBtn{
  color: red;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  right: 10px;
}
.delBtn:hover{
  cursor: pointer;
  background-color:grey;
}
