div.container {
    width: 500px;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid gray;
}

div.container form {
    margin: 10px 0px;
}


div.container form table{
    width: 100%;
}

div.container form table td {
    padding: 0px 10px;
}

div.container form input {
    width: 100%;
    height: 26px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 2px 0px;
}
div.container form #add{
    width: 100%;
    height: 65px;
}



table#list{
    width:100%;
    border-collapse: collapse;
}

/*border*/
table#list td, table#list th {
    padding: 5px;
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    border: 1px solid #aaa;
}

table#list tr td:last-child {
    text-align: center;
}

table#list th{
    background-color : antiquewhite;
}
table#list tr:nth-child(even) {

    background-color : #f8f8f8;
}