div {
  background-color: cadetblue

}
h1 {
  font-size: 1.5em;
  text-align:center;
  color:white;
}

ul {
  list-style: none;
}
.delBtn:hover {
  cursor: pointer;
}
.delBtn {
  padding: 0px 100px;
  position: absolute;
  right: 2px;
  color: wheat
  
}
.container {
  display: absolute;
  justify-content: center; 
  color: white;
  font-weight: bold;;
}

  #save {
  font-weight: bold;

  }
  div.container form table{
    width: 100%;
}
div.container form {
  margin: 0px 35px;
}

div.container {
  width: 300px;
  margin: 10px auto;
  padding: 2px;
}

#studentlist {
  margin: 0px 10px;
}
.student {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

